.home {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.hero-section {
  display: flex;
  justify-content: center;
  padding: 150px 50px;
  background-color: #f0f3f5;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
}

.hero-content * {
  animation: hero-animation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.hero-content h1 {
  padding: 20px 0 50px 0;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
}

.hero-content p {
  padding: 10px 0;
  font-weight: bold;
  font-size: 20px;
  animation-delay: 1s;
}

.hero-content .avatar {
  cursor: pointer;
  background-image: url('../images/me.png');
  background-size: contain;
  background-position: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid #444;
}

.main-content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 50px;
}

@media (max-width: 1024px) {
  .hero-content h1 {
    font-size: 48px;
  }
}

@media (max-width: 760px) {
  .hero-section {
    padding: 50px 50px;
  }

  .hero-content h1 {
    font-size: 32px;
  }

  .hero-content p {
    font-size: 16px;
  }
}
