.Hero {
  background-image: url('../../images/hero-min.jpg');
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
}

.HeroGroup {
  margin: 0 auto;
  max-width: 1024px;
  height: 100%;
  padding: 200px 50px;
}

.Hero h1 {
  font-family: Abel, Open Sans, sans-serif;
  font-weight: bold;
  font-size: 140px;
  text-align: center;
  margin: 0 auto;
  color: white;
  padding: 0 0 50px 0;
  opacity: 0;
  animation: HeroAnimation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero p {
  color: rgba(255, 255, 255, .8);
  padding: 10px 0;
  font-weight: bold;
  font-size: 20px;
  opacity: 0;
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Hero svg {
  animation: HeroAnimation 3s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}

@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Content {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 50px
}

@media (max-width: 1024px) {
  .Hero h1 {
    font-size: 60px;
  }
}

@media (max-width: 760px) {
  .HeroGroup {
    padding: 50px 50px;
  }
  .Hero h1 {
    font-size: 48px;
  }
  .Hero p {
    font-size: 16px;
  }
}
