.ContactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.ContactTitle {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.ContactSocialButtons {
  margin: 35px 0;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .ContactSocialButton {
    padding: 0 20px;
  }
}

.ContactEmail {
  background-color: red;
  padding: 7px 15px;
  font-weight: bold;
  color: white;
}

.ContactSocialButton {
  width: 50px;
  height: auto;
}
