@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  background-color: lightgray;
}

a {
  color: lightseagreen;
  text-decoration: none;
}
