@import url('https://fonts.googleapis.com/css?family=Abel|Open+Sans|Roboto');

body {
  font-family: Roboto, Open Sans, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  background-color: white;
}

a {
  cursor: pointer;
  color: #00ff75;
  text-decoration: none;
}
