.WorkSection {
  justify-content: center;
  max-width: 1024px;
  margin: 50px auto;
}

.WorkTitle {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 0;
}

.WorkContent {
  margin: 10px 0;
}

.ProjectCardGroup {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ProjectCard {
  display: inline-block;
  padding: 5px 5px;
  margin: 5px 5px;
  border: 1px solid black;
  background: rgb(32, 44, 57);
}

.ProjectCardTitle {
  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
}
